*.txt
*.bed
*.fa
*.fasta
*/*.fa
*/*.fasta
*/*/*.fa
*/*/*.fasta
*.csv

data/fullOverlaps/flattened_line_13528.bed

results_160317/.DS_Store

sizeDistEnvScaffolds.tiff

data/fullOverlaps/flattened_line_13528.bed
